html
body {
    background-color: darkblue;
}

.contenedor-titulo{
    margin-bottom: 15px;
    color: black;
}

.contador{
    min-width: 300px;
    height: 300px;
    font-size: 100px;
    padding: 25px;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(4, 3, 3);
    margin-bottom: 15px;
    border-radius: 50%;
    background-color:rgba(105, 105, 117, 0.777);
}   

.container-principal{
    height: 550px;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    width: 150px;
    height: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
}
button:hover{
    background-color: green;
}

.boton-clic{
    background-color: blue;
}
.boton-reiniciar{
    background-color: brown;
}